{{define "content"}}
<div class="row">
  <div class="container">
    <div class="col-md-12">
    <h1>{{.title}}</h1>
    <div class="panel panel-default">
      <div class="panel panel-heading">
        <h3>Table statistics</h3>
      </div>
      <div class="panel-body">
        <table class="table table-striped">
          <thead>
            <tr>
              <th title="partition number" rowspan="2">Partition</th>
              <th title="Status of the processor" rowspan="2">State</th>
              <th title="Number of messages lagging behind HWM" rowspan="2">Offset-Lag</th>
              <th title="High water mark (offset of the next message being consumed)" rowspan="2">HWM</th>
              <th rowspan="2">Write-Rate</th>
              <th colspan="3">Input</th>
              <th colspan="2">Output</th>
            </tr>
            <tr>
              <th>rate</th>
              <th>bytes</th>
              <th>delay</th>
              <th>rate</th>
              <th>bytes</th>
            </tr>
          </thead>
          <tbody id="partitionView">
          </tbody>
        </table>
      </div>

    <script type="text/javascript">


      var lastPartition = d3.local();

      var renderPartitions = function(partitions){

        var updatePartitionPanel = function(data){
          var partitionId = data[0];
          var stats = data[1];
          var status = "running";
          if(stats.Table.Status == 0){
            status = "recovering";
          }
          if(stats.Table.Status == 1){
            status = "preparing";
          }
          if(stats.Table.Stalled){
            status = "stalled";
          }
          var offsetLag = stats.Table.Hwm - stats.Table.Offset - 1;


          // initialize them by default
          var writeRate = 0;
          var inputRate = 0;
          var inputBytes = 0;
          var outputRate = 0;
          var outputBytes = 0;
          var inputDelay = -1;
          // start with a chained operation on the Input of stats.
          var inputChain = _.chain(stats.Input);
          // if we do have values to get the avg from, let's take it.
          // if we tried on an empty list, it would create a NaN
          if(inputChain.size().value() > 0){
            inputDelay = inputChain.flatMap("Delay").mean().value() / 1000000;
          }


          // let's check if we have a previous dataset and set them to their
          // correct values
          var lastStats = lastPartition.get(this);

          if(lastStats){
            // copy the stats to avoid modifying it inplace
            var curStats = JSON.parse(JSON.stringify(stats));
            // diff to previous stats in seconds
            var timeDiff = (new Date(curStats.Now) - new Date(lastStats.Now)) / 1000.0;
            writeRate = (curStats.Table.Offset - lastStats.Table.Offset) / timeDiff;

            function valueDiff(objValue, srcValue) {
              return {
                Count: objValue.Count - srcValue.Count,
                Bytes: objValue.Bytes - srcValue.Bytes,
              };
            }


            var groupedInput = _.mergeWith(curStats.Input, lastStats.Input, valueDiff);
            inputRate = _.chain(groupedInput).flatMap("Count").sum().value() / timeDiff;
            inputBytes = _.chain(groupedInput).flatMap("Bytes").sum().value() / timeDiff;

            var groupedOutput = _.mergeWith(curStats.Output, lastStats.Output, valueDiff);
            outputRate = _.chain(groupedOutput).flatMap("Count").sum().value() / timeDiff;
            outputBytes = _.chain(groupedOutput).flatMap("Bytes").sum().value() / timeDiff;
          }
          lastPartition.set(this, stats);

          return '<td>'+partitionId+'</td>\n'+
            '<td>'+status+'</td>\n'+
            '<td>'+offsetLag+'</td>\n'+
            '<td>'+stats.Table.Hwm+'</td>\n'+
            '<td>'+writeRate.toFixed(2)+'</td>\n'+
            '<td>'+inputRate.toFixed(2)+'</td>\n'+
            '<td>'+inputBytes.toFixed(0)+'</td>\n'+
            '<td>'+inputDelay.toFixed(2)+' ms</td>\n'+
            '<td>'+outputRate.toFixed(2)+'</td>\n'+
            '<td>'+outputBytes.toFixed(0)+'</td>\n';
        };

        {{if eq .renderType "processor"}}
          var group = partitions.Group;
        {{else}}
          var group = partitions.Partitions;
        {{end}}

        var groupList = _.toPairs(group).sort(function(a,b){return parseInt(a[0]) - parseInt(b[0]);});
        // update, enter and remove data
        var d = d3.select("#partitionView").selectAll(".partitionbox").data(groupList, function(d){ return d[0]; });
        d.html(updatePartitionPanel);
        d3.select("#partitionView").selectAll(".partitionbox").data(groupList, function(d){ return d[0]; }).enter().append("tr").classed("partitionbox", true).html(updatePartitionPanel);
        d.exit().remove()
      };

      window.setInterval(function(){
        d3.json("{{.base_path}}/data/{{.renderType}}/{{.vars.idx}}", renderPartitions);
      }, 2000);

      // call it initially
      d3.json("{{.base_path}}/data/{{.renderType}}/{{.vars.idx}}", renderPartitions);
    </script>
    </div>
  </div>
</div>
{{end}}
