{{define "content"}}
<div class="row">
  <div class="container">
    <div class="col-md-12">
      <h2>Processors</h2>
      {{range $index, $graph := .graphs}}
        <div class="col-md-12">
          <div class="panel panel-default">
            <div class="panel-heading">
              <h4 class="panel-title">{{$graph.Group}}
              </h4>
            </div>
            <div class="panel-body">
              <ul>
                {{range $edgeIdx, $edge := $graph.InputStreams}}
                <li>INPUT: {{$edge.Topic}} &rarr; {{printf "%T" $edge.Codec}}</li>
                {{end}}
                {{range $edgeIdx, $edge := $graph.JointTables}}
                <li>JOINT: {{$edge.Topic}} &rarr; {{printf "%T" $edge.Codec}}</li>
                {{end}}
                {{range $edgeIdx, $edge := $graph.LookupTables}}
                <li>LOOKUP: {{$edge.Topic}} &rarr; {{printf "%T" $edge.Codec}}</li>
                {{end}}
                {{with $groupTable := $graph.GroupTable}}
                <li>GROUPTABLE: {{$groupTable.Topic}} &rarr; {{printf "%T" $groupTable.Codec}}</li>
                {{end}}
                {{with $loop := $graph.LoopStream}}
                <li>LOOP: {{$loop.Topic}} &rarr; {{printf "%T" $loop.Codec}}</li>
                {{end}}
                {{range $edgeIdx, $edge := $graph.OutputStreams}}
                <li>OUTPUT: {{$edge.Topic}} &rarr; {{printf "%T" $edge.Codec}}</li>
                {{end}}
              </ul>
          </div>
        </div>
      {{end}}
    </div>
  </div>
</div>
{{end}}
