name: install

on:
  push:
    branches: [master]
  pull_request:
    branches: [master]

jobs:
  install_go_get:
    runs-on: ubuntu-latest
    steps:
      - name: Set up Go
        uses: actions/setup-go@v2
        with:
          go-version: 1.18

      - name: Install
        shell: bash
        run: |
          go mod init test
          go mod tidy
          go get github.com/lovoo/goka@master
          go test -v github.com/lovoo/goka
          
