name: run tests

on:
  push:
    branches: [master, 375-retry-topicmanager]
  pull_request:
    branches: [master]

jobs:
  unit:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2

      - name: Set up Go
        uses: actions/setup-go@v2
        with:
          go-version: 1.16

      - name: Test
        shell: bash
        run: |
          go test -v -race ./...

  system-test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2

      - name: Set up Go
        uses: actions/setup-go@v2
        with:
          go-version: 1.16

      - name: Services
        shell: bash
        run: |
          sudo apt update -y && sudo apt install -y netcat
          cd examples && make start && cd ..

      - name: Test
        shell: bash
        run: |
          GOKA_SYSTEMTEST=y go test -v github.com/lovoo/goka/systemtest

          
